# Create data

The aim of this Capstone project is to consolidate the knowledge, skills and competences acquired by learners during this programme. In this project students will select, specify, design, justify and implement a data analytics investigation that makes use of large data sets. The project will necessarily require data ingestion, wrangling, computation and analyses, and the production and presentation of a project and report. Students are guided by faculty in the selection of a data set, scope of investigation, initial exploratory data analysis, and formulation of hypotheses.

In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import ast

In [2]:
from clean import create_card_df
from clean import create_deck_df

In [3]:
deck_df = create_deck_df()

Clear that unnamed column that snuck in

In [4]:
deck_df.drop(deck_df.columns[deck_df.columns.str.contains('Unnamed',case = False)],axis = 1, inplace = True)

In [5]:
deck_df.head()

,deck_id,deck_name,deck_wins,deck_losses,deck_expansion,deck_list,houses
0,16ec51ad-9347-4fc9-bda5-cbb4a5d16150,"E. Fairfax, Engenheiro do Reino da Fome",0,0,341,"['892c0a68-5213-48b2-8883-2ac3c97ac83c', '892c...","['Dis', 'Mars', 'Sanctum']"
1,50eda214-a036-4bc4-9b67-ade8d9c03994,獨臂征服者,0,0,341,"['5fbcee22-232c-46ba-84e0-3baad3946220', 'd438...","['Brobnar', 'Dis', 'Shadows']"
2,0fd51fa2-56d4-4c30-9e7e-6f94fd693e6c,長城海盜“幽靈”塞爾達,0,0,341,"['892c0a68-5213-48b2-8883-2ac3c97ac83c', '892c...","['Dis', 'Logos', 'Mars']"
3,6216e565-a790-4e5b-b89a-4a814917b94e,"Leif “As”, Granjera de la Alcantarilla",2,1,435,"['417b7845-2c67-4bcf-b411-20f2a7d86955', '920f...","['Brobnar', 'Dis', 'Sanctum']"
4,6d2baacd-eac1-405f-aeb3-a9fb5037b71e,Wilhelmina “Rex” Sethgundy,0,0,435,"['4e3cd32d-2038-48dd-82e6-6b9b611dde29', '0994...","['Dis', 'Mars', 'Sanctum']"

In [6]:
print("Total decks:" + str(len(deck_df)))

Total decks:1248450

In [7]:
print("Decks with wins:" + str(len(deck_df.loc[(deck_df['deck_wins'] > 0)])))

Decks with wins:60974

In [8]:
print("Decks with wins or losses:" + str(len(deck_df.loc[(deck_df['deck_wins'] > 0) | (deck_df['deck_losses'] > 0)])))

Decks with wins or losses:67321

In [9]:
card_df = create_card_df()
print(card_df.iloc[0])

Unnamed: 0                                        0
card_id        bfaef0df-911c-4f21-a452-83d1144dc0c4
card_title                        Ixxyxli Fixfinger
card_type                                  Creature
card_amber                                        0
card_power                                        2
card_armor                                        2
card_traits                     Martian • Scientist
Name: 0, dtype: object

In [10]:
print("Total cards:" + str(len(card_df)))

Total cards:15081358

Remove any blank columns that snuck in.

In [11]:
card_df.drop(card_df.columns[card_df.columns.str.contains('Unnamed',case = False)],axis = 1, inplace = True)

Remove any duplicates so we just have a single entry for every card.

In [12]:
card_df.drop_duplicates(subset=None, keep='first', inplace=True)

In [13]:
card_df.head()

,card_id,card_title,card_type,card_amber,card_power,card_armor,card_traits
0,bfaef0df-911c-4f21-a452-83d1144dc0c4,Ixxyxli Fixfinger,Creature,0,2.0,2.0,Martian • Scientist
1,e3a8d05a-252a-4d07-bebe-8a5b69efb98c,Yantzee Gang,Creature,0,5.0,NaN,Elf • Thief
2,98e9c095-d134-4bed-b6db-4bfacb433473,Scientifical Hack,Artifact,1,NaN,NaN,Equation
3,30dfd43a-4973-482a-8a52-be37d8cf0ca8,Cull the Weak,Action,1,NaN,NaN,NaN
4,38b9c734-5286-4c94-b92a-28e3aa4f1357,Oubliette,Action,0,NaN,NaN,NaN

In [14]:
print("Total cards:" + str(len(card_df)))

Total cards:3636

In [15]:
winning_decks = deck_df.loc[(deck_df['deck_wins'] > 0) | (deck_df['deck_losses'] > 0)]

In [16]:
print("Total decks:" + str(len(winning_decks)))

Total decks:67321

In [17]:
winning_decks.to_csv("data/winning_decks.csv", header=True, index=False)

In [18]:
card_df.to_csv("data/cards.csv", header=True, index=False)

-- End of File --